.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.container .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1 {
    background-color: deeppink;
    grid-column-start: 1;
    grid-column-end: 4;
}

.block.block2 {
    background-color: darkslateblue;
    grid-row: 2/4;
}

.block.block3 {
    background-color: lightblue;
}

.block.block4 {
    background-color: #6a478f;
}

.block.block5 {
    background-color: #00557F;
    grid-column: 2/4;

}

.block.block6 {
    background-color: #2B2D42;
    grid-column: 1/3;
}

.block.block7 {
    background-color: #2196F3;
}

.block.block8 {
    background-color: #e03f3f;
    grid-column: 1/4;
}
