.ytCard {
    background-color: #ff0000 !important;
    color: white;
}

.googleCard {
    background-color: #4285f4 !important;
    color: white;
}

.xCard {
    background-color: #1da1f2 !important;
    color: white;
}

.instagramCard {
    background-color: #c329a3 !important;
    color: white;
}